.nav {
	width: 100%;
	height: 72px;

	@extend .flexCenter;

	.container-nav {
		width: 90%;
		max-width: 1280px;
		height: 100%;

		@extend .flexSpaceBetween;

		.nav-box-1 {
			width: 578px;
			height: 100%;

			@extend .flexSpaceBetween;

			img {
				width: 150px;
			}
		}

		.nav-box-2 {
			width: 65%;
			height: 100%;

			@extend .flexSpaceBetween;

			.box-1 {
				width: 578px;
				height: 100%;

				@extend .flexSpaceBetween;

				a {
					color: #14142b;
					font-size: "16";
					font-weight: normal;
					font-style: normal;
					display: flex;
					align-items: center;
					text-decoration: none;
				}
			}

			.box-2 {
				width: 30%;
				height: 100%;

				@extend .flexSpaceEvenly;

				.fa-instagram {
					font-size: 22px;
				}

				.fa-facebook-f {
					color: #14142b;
					font-size: 22px;
				}

				.fa-linkedin-in {
					color: #14142b;
					font-size: 22px;
				}
			}
		}
	}
}
